/* Reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #201f1f;
}

/* Update form style */
.update-form {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid;
  border-color: #b30b8e;
  border-radius: 5px;
  background-color: #171717;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.update-form h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.update-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-form input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.update-form input,
.update-form select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.update-form input[type="submit"] {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b30b8e;
  color: #fff;
  cursor: pointer;
}
